<div class="container-fluid pt-4 pb-5">
  <div class="row">
    <div class="col-12 col-lg-12 col-xl-12">
      <div class="boxes chart2_div">
        <div class="namediv">
          <h4 class="title">Scatter Chart</h4>
        </div>
        <div class="" id="chart-1"></div>
      </div>
    </div>
    <div class="col-12 col-lg-12 col-xl-12">
      <div class="boxes chart2_div">
        <div class="namediv">
          <h4 class="title">Histogram</h4>
        </div>
        <div class="" id="chart-2"></div>
      </div>
    </div>
    <!-- <div class="col-12 col-lg-12 col-xl-12">
      <div class="boxes chart2_div">
        <div class="namediv">
          <h4 class="title">Bar Chart</h4>
        </div>
        <div class="" id="chart-3"></div>
      </div>
    </div> -->
  </div>

  <div class="row">
    <div class="col-12 col-lg-12 col-xl-12">
      <div class="table_box boxes">
        <div class="namediv">
          <h4 class="title">Details Table</h4>
          <div class="rightside">
            <button type="button" class="btn-date">Download</button>
          </div>
        </div>
        <div class="table_responsive">
          <table class="table">
            <colgroup>
              <col width="10%" />
              <col width="30%" />
              <col width="30%" />
              <col width="30%" />
            </colgroup>
            <thead>
              <tr>
                <th>No <i class="fa fa-sort-amount-desc" aria-hidden="true"></i></th>
                <th>Name 1 <i class="fa fa-sort-amount-asc" aria-hidden="true"></i></th>
                <th>Name 2 <i class="fa fa-sort-amount-asc" aria-hidden="true"></i></th>
                <th>Name 3 <i class="fa fa-sort-amount-asc" aria-hidden="true"></i></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>1</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>2</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
            </tbody>
          </table>
        </div>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center mt-2">
            <li class="page-item disabled">
              <a class="page-link">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
